body {
    background-image: url("../images/punk_bg.jpeg");
    background-size: 100% auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    height: 8vw;
    width: 8vw;
    background-color: transparent;
    border: 3px solid #f0442c;
    box-shadow: 3px 3px #a12c1d;
    border-radius: 5px;
}

.row1 button {
    color: rgba(0, 0, 0, 0);
    text-shadow: -1px -1px 2px rgb(158, 0, 249);
}

.row2 button {
    color: rgba(0, 0, 0, 0);
    text-shadow: -1px -1px 2px rgb(0, 217, 255);
}

.row3 button {
    color: rgba(0, 0, 0, 0);
    text-shadow: -1px -1px 2px rgb(23, 231, 0);
}

.row4 button {
    color: rgba(0, 0, 0, 0);
    text-shadow: -1px -1px 2px rgb(255, 0, 0);
}
